<div id="banner">
            <a href="/"><h1>Made At Penn</h1></a>
              
            <a href="http://www.pennlabs.org"> <img src="/labs2.png" width=50px height=50px /> </a>
            <ul id="nav"> 
              <a href="/"><li>Home</li></a>
              <a href="/faq"><li>FAQ</li></a>
              <a href="/submit"><li>Submit</li></a>
            </ul>
            <input type="text" name="tags" size="20" id="tags" class=" search" placeholder="Search by Tag"><br>
  </div>