<div id="banner">
      
         <a href="/"><div class='top' id="nav-header">
                           <a href="http://www.pennlabs.org"> <img src="/labs2.png" width=40px height=40px /> 


            <h1>Made At Penn</h1>
               </div> </a>


       <a href='/'><div class='top' id="nav-home">
       <p> Home </p> </div></a>
      

      <a href='/projects'>
      <div class='top' id="nav-projects">
         <p> Projects </p> </div> </a>

    <a href='/startups'>
          <div class='top' id="nav-startups">
            <p> Startups </p> 
          </div>
    </a>

 <a href='/faq'> 
      <div class='top' id="nav-faq">
      <p> FAQ  </p>
      </div></a>

       <a href='/submit'> <div class='top' id="nav-submit">
       <p>  Submit  </p>
      </div></a>

     
  </div>


        <!----      <input type="text" name="tags" size="20" id="tags" class=" search" placeholder="Search by Tag"><br> 

         </a>----!>
