<div id="banner">
           
            <a href="http://www.pennlabs.org"> <img src="/labs2.png" width=40px height=40px /> </a>

            <a href="/"><h1>Made At Penn</h1></a>
              
            <ul id="nav"> 
              <a href="/"><li>Home</li></a>
              <a href="/projects"> <li> Projects </li></a>
              <a href="/startups"> <li> Startups </li></a>
              <a href="/faq"><li>FAQ</li></a>
              <a href="/submit"><li>Submit</li></a>
            </ul>
  </div>


        <!----      <input type="text" name="tags" size="20" id="tags" class=" search" placeholder="Search by Tag"><br> ----!>
