<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    <title>Submit your application!</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap.css" rel="stylesheet">

    <link href="/style.css" rel="stylesheet" type="text/css">

   
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script>
  $(function() {
      /*function log( message ) {
        $( "<div>" ).text( message ).prependTo( "#log" );
        $( "#log" ).scrollTop( 0 );
      }
      */
      $("#tags").autocomplete({
          source: function(request, response) {
              var results = []
              $.get('/search/' + request.term, function(data) {
                  console.log(data);
                  $.each(data.elements, function(index, item) {
                      var itemToAdd = {
                        value : item,
                        label : item,
                      } 
                      results.push(itemToAdd);
                    });               
              return response(results);
              });
          }
        });
    });

/*    window.onload = function() {
      $("#tags").keyup(function(e) {
          get_autoComplete($('#tags').val())
      });

      
    } 
    */

</script>

  </head>

  <body>

 <% include banner %>


<div id="submit_description">

      <h2>FAQ</h2>
      
      <h3>What is Penn Open Source?</h3> 

      <p>Penn Open Source is a new Labs initiative to host polished apps created by Penn students. Our criteria for evaluating apps: <span> Originality, Functionality, Polish, Legality (data/privacy). </span> The project must be open source. You will receive an email as soon as your app is approved!
      </p>

      <h3>What is Penn Open Source?</h3> 

      <p>Penn Open Source is a new Labs initiative to host polished apps created by Penn students. Our criteria for evaluating apps: <span> Originality, Functionality, Polish, Legality (data/privacy). </span> The project must be open source. You will receive an email as soon as your app is approved!
      </p>


</div>





    <div id="footer">
      <div id='social'>
        <a href="http://twitter.com/pennlabs"><img class="icon" src="twitter.png"/></a>
        <a href="https://www.facebook.com/labsatpenn"><img class="icon" src="facebook.gif"/></a>
        <span>Penn Labs: Improving student technology at Penn since 2010</span>
      </div>
    </div>





  </body>




  </html>