<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
  <title>Submit your application!</title>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <!-- Bootstrap core CSS -->
  <link href="/bootstrap.css" rel="stylesheet">

  <link href="/style.css" rel="stylesheet" type="text/css">


  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script>
    $(function() {
      $("#tags").autocomplete({
        source: function(request, response) {
          var results = []
          $.get('/search/' + request.term, function(data) {
            console.log(data);
            $.each(data.elements, function(index, item) {
              var itemToAdd = {
                value : item,
                label : item,
              }
              results.push(itemToAdd);
            });
            return response(results);
          });
        }
      });
    });
  </script>

  <style>
    #nav-submit{
      background-color: #8e44ad;
    }

    #banner {
      border-bottom: 3px solid #8e44ad;
    }
  </style>
</head>

<body>

  <% include banner %>

  <div id="submit_description">
    <h2>Interested in submitting your project?</h2>

    <p>Made At Penn is a new initiative by Labs and the Dining Philosophers to showcase projects and startups created and launched by Penn students and alumni. The goal is bring the tech and entrepreneurship community closer by highlighting the work of individuals and groups.
    </p>
    <br />
  </div>

  <div id="form" class="form-group backgroundForm">
    <form action="/post" method="POST">

      <div class="rowSpacing">
        <div class ="submitFormItem">
          <div class="submitItemTitle"><label for="app_name" class="whatCalled"> Project Title </label>
            <div class="formSpacing">
              <input type="text" name="app_name" size="20" class="form-control" placeholder="" style="font-size: 18px">
            </div>
          </div>
        </div>
      </div>

      <span class="pOrJSpacing">
        <input type="radio" name="project_or_startup" value="project">Project
      </span>
      <span class="pOrJSpacing">
        <input type="radio" name="project_or_startup" value="startup">Startup
      </span>

     <div class="inlineRow">
      <div class="builders">
        <label for="builders"> Who built this? (full names) </label>
        <div class="contactLabel">
         <input type="text" name="builders" size="80" class="form-control builders" placeholder="Amy Gutman, Dhruv Maheshwari, Jake Noonan ">
        </div>
      </div>
    </div>

     <div class="contact">
        <label for="contact"> Contact email?</label>
        <div class="contactLabel">
          <input type="text" name="contact" size="20" class="form-control" placeholder="clara@labs.upenn.edu">
        </div>
      </div>

      <div class="demo">
        <label for="demo"> Please enter a link to your project/startup: </label>
        <div class="demoLabel">
        <input type="text" name="demo" size="20" class="form-control" placeholder="http://pennlabs.herokuapp.com">
        </div>
      </div>

      <div class="githubLink">
        <label for="github"> Github link?</label>
        <div class="githubLinkLabel">
          <input type="text" name="github" size="20" class="form-control" placeholder="https://github.com/pennlabs">
        </div>
      </div>
      <br>

      <label for="description"> Please write a brief description. (125 character max). </label>
      <div>
        <textarea class="desc" type="text" maxlength="125" name="description" size="100" class="form-control" placeholder=""></textarea>
      </div>
      <br>


      <div class ="submitFormItem">
        <div class="submitItemTitle"><label for="tags" style="display: inline; margin-top:5px"> Tags</label>
          <div class="formSpacing appTags">
            <input type="text" name="tags" size="20" id="tags" class="form-control" placeholder="Python, Flask, EdTech">
          </div>
        </div>
      </div>

      <br />

      <input type="hidden" name="approved" size="40" class="form-control" value ="0" >
      <button type="submit" id="pennlabs-submit" class="btn btn-default"> Submit </button>

    </form>
  </div>



  <% include footer %>





</body>




</html>
