<div id="banner">
			<div id="banner-top">
	         <a href="/"><h1>Made At Penn</h1></a>
            	<p> Showcasing startups and projects, launched by Penn students and alums </p>
            </div> 
	        
            <div id="banner-bottom">
	            <ul id="nav"> 

					<li><a href="/"><div class="button">Home</div></a></li>
		            <li> <a href="/faq"><div class="button">FAQ</div></a></li>

					<li><a href="/submit"> <div class="button"> Submit </div> </a> </li>

		            <li> <a href=""><div class="button">  Search  </div> </a></li>
         		  </ul>
		    </div>

  </div>


  <!--- <input type="text" name="tags" size="20" id="tags" class=" search" placeholder="Search by Tag"> --->