 <div id="footer">
      <div id='social'>
        <a href="http://twitter.com/pennlabs"><img class="icon" src="twitter.png"/></a>
        <a href="https://www.facebook.com/labsatpenn"><img class="icon" src="facebook.gif"/></a>
        <span>Penn Labs: Improving student technology at Penn since 2010</span>
      </div>
    </div>

