html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif;
	font-weight:200;
  	font-size: 1em;
	color: #2d3038;
}

::-webkit-input-placeholder {
   font-family: 'Lato', sans-serif;
	font-weight:200;
  	font-size: 1em;

}

:-moz-placeholder { /* Firefox 18- */
   font-family: 'Lato', sans-serif;
	font-weight:200;
  	font-size: 1em;

}

::-moz-placeholder {  /* Firefox 19+ */
   font-family: 'Lato', sans-serif;
	font-weight:200;
  	font-size: 1em;

}

:-ms-input-placeholder {  
   font-family: 'Lato', sans-serif;
	font-weight:200;
  	font-size: 1em;
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: normal;
  src: url('../BebasNeue.ttf');
}

#banner {
  background-color: #2d3038;
  margin: 0;
  padding-bottom: 0px;
  padding-top: 0px;
  height: 50px;
}
#banner a {
	color: white;
}

ul a :hover{
	text-decoration: underline;
}

.ui-helper-hidden-accessible { display:none; }
.ui-autocomplete {
	background-color: white;
	border: 1px solid gray;
}

.ui-autocomplete li {
	list-style: none;
	font-family: Lato, sans-serif;
	padding: 2px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
  width: 100%;
}

.search {
	color:  #2d3038;
	margin-bottom: 7px;
	padding: 3px;
}

ul{
	display: inline-block;
	padding: 0px;
	float: right;
	vertical-align: middle;
}

#nav li {
	display: inline-block;
	margin-left: 15px;
}

#nav a {
	color: white;
}


#banner img {
	float: right;
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 4px;
}

#banner {
  margin: 0px;
  color: white;
  text-align: left;
  word-wrap: break-all;
  padding: 0px;
  height: 60px;
}

#banner h1, #banner h2 {
  text-align: left;
  font-family: "Bebas Neue",sans-serif;
  font-weight: 300;
  padding-left: 20px;
  font-size: 2.5em;
  display: inline-block;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  vertical-align: middle;
  height: 0px;
}


.section-header {
	  font-family: "Bebas Neue",sans-serif;
	  font-size: 4em;
}


.search {
	width: 150px;
	display: inline;
	margin-left: 20px;
	margin-top: 1px;
	vertical-align: middle;
	font-family: Lato, sans-serif;
}


.underline_divider {
  text-align: center;
  border-bottom: 10px solid #2d3038;
  width: 90px;
  margin: 10px 10px 10px 10px;
  margin-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#featured-title {
	font-family: "Bebas Neue",sans-serif;
	float: left;
	padding-left: 30px;
}

#featured-title .underline_divider {
	float: left;
	 margin: 0px;

}

.app_image {
	position: relative;
	width: 100%;
		  border: 1px solid gray;

}

.app_description {
	position: absolute;
	display: none;
	top: 0px;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.7);
	width: 320px;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
  	font-size: .9em;
	height: 200px;
	padding: 10px 10px;
}

.app_description a {
	text-align: center;
}

.blurb {
	height: 70px;
}

.view {
	display: inline-block;
	text-decoration: none;
	margin: auto 24px;
	border:2px solid white; 
	border-radius: 10px;
	width: 100px;
	padding: 10px;
	text-align: center;
}

.center {
	margin-left: 90px;
}
 



.view-background {
	background-color: rgba(0, 0, 0, 0.2);
}


.app_description a {
	text-decoration: none;
	font-size: 1em;
	color: white;
	font-style: normal;
	font-family: 'Lato', sans-serif;
}

.app_description span {
	padding: 0px 0px 0px 5px;

}

.tags{
	font-size: 1em;
	color: white;
	text-decoration: none;
}

.tags a { 
	font-size: 1em;
	color: white;
	padding: 0px 1px;	
	text-decoration: underline;
}

.tags span {
	position: absolute;
	bottom: 0;
}

.app_title a {
	text-decoration: none;
	font-size: 1em;
	color: black;
	font-style: normal;
}

.app_title h2 {
	font-family: 'Lato', sans-serif;
	font-weight:200;
    font-size: 23px;
	letter-spacing: 1px;
	color: #2d3038;
	margin: 5px 0px 0px 0px;
	padding: 0px;
	text-align: left;
}
.app_title h3 {
	font-family: 'Lato', sans-serif;
	font-weight:200;
  	font-size: 1em;
  	letter-spacing: 1px;
	color: gray;
	margin: -15px 0px 0px 0px;
	padding: 0px;
	text-align: left;
	font-size: 1em;
	width: 300px;
}

.project {
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 5px;
  margin-bottom: 50px;
  text-align: left;
  vertical-align: top;
  height: auto;
}


#projects{
  text-align: center;
  margin-top:50px;
  margin-bottom:100px;
}

.icon {
  height: 32px;
  vertical-align: middle;
  opacity: 0.5;
}

#social {
  height: 60px;
  line-height: 60px;
  width: 100%;
}

#social a:first-child {
  margin-left: 15px;
}

#social a {
  position: relative;
  top: -2px;
}

#social span {
  margin-left: 10px;
  opacity: 0.4;
  line-height:60px;
}

/* ---- submit page */

#submit_description {
	padding: 40px 40px 0px 40px;
}

#submit_description h2 {
	font-family: 'Lato', sans-serif;
	font-weight:100;
    font-size: 23px;
	letter-spacing: 1px;
	color: #2d3038;
	margin: 5px 0px 10px 0px;
	padding: 0px;
}

#faq_description {
	padding: 40px 40px 0px 40px;
}

#faq_description h2 {
	font-family: 'Lato', sans-serif;
	font-weight:100;
    font-size: 23px;
	letter-spacing: 1px;
	color: #2d3038;
	margin: 5px 0px 10px 0px;
	padding: 0px;
}



#form {
	padding: 40px;
}




