html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif;
	font-weight:200;
  	font-size: 1em;
	color: #2d3038;
	min-width: 750px;
}

::-webkit-input-placeholder {
   font-family: 'Lato', sans-serif;
	font-weight:200;
  	font-size: 1em;

}

:-moz-placeholder { /* Firefox 18- */
   font-family: 'Lato', sans-serif;
	font-weight:200;
  	font-size: 1em;

}

::-moz-placeholder {  /* Firefox 19+ */
   font-family: 'Lato', sans-serif;
	font-weight:200;
  	font-size: 1em;

}

:-ms-input-placeholder {  
   font-family: 'Lato', sans-serif;
	font-weight:200;
  	font-size: 1em;
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: normal;
  src: url('../BebasNeue.ttf');
}

@font-face {
	font-family: "Franchise-Bold";
	font-style: normal;
	font-weight: normal;
	src: url("../Franchise-Bold.ttf");
}

@font-face {
	font-family: "Circula";
	font-style: normal;
	font-weight: normal;
	src: url("../circula-medium.otf");
}

#banner {
  margin: 0px;
  padding-bottom: 0px;
  padding: 0px;
  height: 60px;
  width: 100%;
  background-color: #2d3038;
}

#banner a {
	color: white;
}

#splash {
	position:relative;
	background-color:#3498db;
	margin: 0px;
	margin-top: -3px;
	padding: 0px;
	color: white;
	font-size: 2.2em;
	overflow: auto;
	min-width: 750px;
	padding-top: 50px;
	padding-bottom: 60px;
}

.splash-button {
	display: inline-block;
	margin: 5px;
	width: 175px;
	color: white;
	font-size: .8em;
	vertical-align: middle;
	padding: 5px;
}

#splash-button-container {
	float: left;
	padding-left: 30px;
	padding-top: 20px;
}

#splash-blurb {
	width: 500px;
	display: inline-block;
	float: left;
	padding-left: 40px;
}

#splash p {
	display: inline-block;
}

.startup-btn {
	background-color: #1abc9c;
	border-radius: 5px;
	text-align: center;
}

.submit-btn {
	background-color: #e74c3c;
	border-radius: 5px;
	text-align: center;
	width: 370px;
	margin-top: 10px;
}


.project-btn {
	background-color: #1abc9c;
	border-radius: 5px;
	text-align: center;
}

.top {
	margin-left: -4px;
	margin-right: 0px;
	margin-top: -3px;
	padding: 0px;
	height: 60px;
	display: inline-block;
	vertical-align: middle;
	background-color: #2d3038;
	font-size: 1.1em;
    font-family: "Bebas Neue",sans-serif;
	letter-spacing: 2px;
	font-weight: 100;
}

#nav-header {
	background-color: #2d3038;
	width: 40%;
}

#nav-header a {
	color: black;
	vertical-align: middle;

}

#nav-home {
	width: 12%;
	text-align: center;
	vertical-align: middle;
}
#nav-home:hover {
	background-color: #3498db;
}

.top p {
    position: relative;
    top: 30%;
    -ms-transform: translateY(-50%);
    -wekbit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-left: 1px solid white;
}

#nav-projects {
	width: 12%;
	text-align: center;
	vertical-align: middle;
}
#nav-projects:hover {
	background-color: #2980b9;

}

#nav-startups {
	width: 12%;
	text-align: center;
	vertical-align: middle;}

#nav-startups:hover {
	background-color: #27ae60;
}

#nav-faq {
	width: 12%;
	text-align: center;
	vertical-align: middle;
}

#nav-faq:hover {
     background-color: #e67e22;
}

#nav-submit {
	width: 12%;
	text-align: center;
	vertical-align: middle;
	border-right: 0px;
}

#nav-submit:hover {
	background-color: #8e44ad;
}



#banner h1 {
  font-family: "Bebas Neue",sans-serif;
  font-weight: 300;
  padding-left: 20px;
  display: inline-block;
  margin-top: 15px;
  height: 0px;
  color: white;
}


#banner img {
	display: inline-block;
	margin-right: 0px;
	margin-left: 30px;
	margin-top: -14px;
}

.ui-helper-hidden-accessible { display:none; }
.ui-autocomplete {
	background-color: white;
	border: 1px solid gray;
}

.ui-autocomplete li {
	list-style: none;
	font-family: Lato, sans-serif;
	padding: 2px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
  width: 100%;
}

.search {
	color:  #2d3038;
	margin-bottom: 7px;
	padding: 3px;
	width: 150px;
	display: inline;
	margin-left: 20px;
	margin-top: 1px;
	vertical-align: middle;
	font-family: Lato, sans-serif;
}




.section-header {
	  font-family: "Bebas Neue",sans-serif;
	  font-size: 4em;
}




.underline_divider {
  text-align: center;
  border-bottom: 10px solid #2d3038;
  width: 90px;
  margin: 10px 10px 10px 10px;
  margin-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#featured-title {
	font-family: "Bebas Neue",sans-serif;
	float: left;
	padding-left: 30px;
}

#featured-title .underline_divider {
	float: left;
	 margin: 0px;

}

.app_image {
	position: relative;
	width: 100%;
		  border: 1px solid gray;

}

.app_description {
	position: absolute;
	display: none;
	top: 0px;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.7);
	
	width: 320px;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
  	font-size: .9em;
	height: 200px;
	padding: 10px 10px;
}

.app_description a {
	text-align: center;
}

.blurb {
	height: 70px;
}

.view {
	display: inline-block;
	text-decoration: none;
	margin: auto 24px;
	border:2px solid white; 
	border-radius: 10px;
	width: 100px;
	padding: 10px;
	text-align: center;
}

.center {
	margin-left: 90px;
}
 

.view-background {
	background-color: rgba(0, 0, 0, 0.2);
}


.app_description a {
	text-decoration: none;
	font-size: 1em;
	color: white;
	font-style: normal;
	font-family: 'Lato', sans-serif;
}

.app_description span {
	padding: 0px 0px 0px 5px;

}

.tags{
	font-size: 1em;
	color: white;
	text-decoration: none;
}

.tags a { 
	font-size: 1em;
	color: white;
	padding: 0px 1px;	
	text-decoration: underline;
}

.tags span {
	position: absolute;
	bottom: 0;
}

.app_title a {
	text-decoration: none;
	font-size: 1em;
	color: black;
	font-style: normal;
}

.app_title h2 {
	font-family: 'Lato', sans-serif;
	font-weight:200;
    font-size: 23px;
	letter-spacing: 1px;
	color: #2d3038;
	margin: 5px 0px 0px 0px;
	padding: 0px;
	text-align: left;
}
.app_title h3 {
	font-family: 'Lato', sans-serif;
	font-weight:200;
  	font-size: 1em;
  	letter-spacing: 1px;
	color: gray;
	margin: -15px 0px 0px 0px;
	padding: 0px;
	text-align: left;
	font-size: 1em;
	width: 300px;
}

.project {
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 5px;
  margin-bottom: 50px;
  text-align: left;
  vertical-align: top;
  height: auto;
}


#projects{
  text-align: center;
  margin-top:50px;
  margin-bottom:100px;
}

.icon {
  height: 32px;
  vertical-align: middle;
  opacity: 0.5;
}

#social {
  height: 60px;
  line-height: 60px;
  width: 100%;
}

#social a:first-child {
  margin-left: 15px;
}

#social a {
  position: relative;
  top: -2px;
}

#social span {
  margin-left: 10px;
  opacity: 0.4;
  line-height:60px;
}

/* ---- submit page */

#submit_description {
	padding: 40px 40px 0px 40px;
}

#submit_description h2 {
	font-family: 'Lato', sans-serif;
	font-weight:100;
    font-size: 23px;
	letter-spacing: 1px;
	color: #2d3038;
	margin: 5px 0px 10px 0px;
	padding: 0px;
}

#faq_description {
	padding: 40px 40px 0px 40px;
}

#faq_description h2 {
	font-family: 'Lato', sans-serif;
	font-weight:100;
    font-size: 23px;
	letter-spacing: 1px;
	color: #2d3038;
	margin: 5px 0px 10px 0px;
	padding: 0px;
}

#form {
	padding: 40px;
}




